doctype html
html(lang="en")
  head
    title= pageTitle
    //- Bootstrap
    link(rel="stylesheet", href="css/bootstrap.min.css")
    //- Fonts
    link(rel="stylesheet", href="css/customfonts.css")
    //- custom style sheet
    link(rel="stylesheet", href="css/style.css")
  body
    h1 This site is jade-sass-boiler plate
  
   
 
